
.gradle
/local.properties
/.idea/workspace.xml
/.idea/misc.xml
/.idea/libraries
/.idea/gradle.xml
.DS_Store
/build
/captures
src/main/res/drawable-xxhdpi/ic_launcher_origin.png
src/main/res/drawable/ic_launcher_origin.png
app/src/main/res/drawable-xxhdpi/ic_launcher_origin.png
app/src/main/res/drawable/ic_launcher_origin.png
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/rs/
library/build/intermediates/assets/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/bundles/debug/jni/
library/build/intermediates/bundles/debug/libs/
library/build/intermediates/bundles/release/aidl/
library/build/intermediates/bundles/release/assets/
library/build/intermediates/bundles/release/jni/
library/build/intermediates/bundles/release/libs/
library/build/intermediates/classes/
library/build/intermediates/dependency-cache/
library/build/intermediates/incremental/
library/build/intermediates/jniLibs/
library/build/intermediates/lint/
library/build/intermediates/manifest/
library/build/intermediates/rs/
library/build/intermediates/symbols/
library/build/intermediates/transforms/
library/build/tmp/
sample/build/
